
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');

* {box-sizing: border-box;

}
index { 
    
    color: rgb(17, 202, 78);
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 10px;
    flex: 2;
    text-shadow:   1px 0px #eee, 0px 1px #ccc,
               2px 1px #eee, 1px 2px #ccc,
               3px 2px #eee, 2px 3px #ccc,
               4px 3px #eee, 3px 4px #ccc,
               5px 4px #eee, 4px 5px #ccc,
               6px 5px #eee, 5px 6px #ccc,
               7px 6px #eee, 6px 7px #ccc,
               8px 7px #eee, 7px 8px #ccc,
               8px 8px #eee;


}

box2 { 
    
    color: rgb(158, 85, 17);
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 10px;
    flex: 1;
    text-shadow:   1px 0px #eee, 0px 1px #ccc,
               2px 1px #eee, 1px 2px #ccc,
               3px 2px #eee, 2px 3px #ccc,
               4px 3px #eee, 3px 4px #ccc,
               5px 4px #eee, 4px 5px #ccc,
               6px 5px #eee, 5px 6px #ccc,
               7px 6px #eee, 6px 7px #ccc,
               8px 7px #eee, 7px 8px #ccc,
               8px 8px #eee;




}


box3 { 

    color: rgb(59, 34, 117);
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 10px;
    flex: 2;
    text-shadow:   1px 0px #eee, 0px 1px #ccc,
               2px 1px #eee, 1px 2px #ccc,
               3px 2px #eee, 2px 3px #ccc,
               4px 3px #eee, 3px 4px #ccc,
               5px 4px #eee, 4px 5px #ccc,
               6px 5px #eee, 5px 6px #ccc,
               7px 6px #eee, 6px 7px #ccc,
               8px 7px #eee, 7px 8px #ccc,
               8px 8px #eee;
;




    
}

box4 { 
    
    color: rgb(179, 43, 122);
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 10px;
    text-shadow:   1px 0px #eee, 0px 1px #ccc,
               2px 1px #eee, 1px 2px #ccc,
               3px 2px #eee, 2px 3px #ccc,
               4px 3px #eee, 3px 4px #ccc,
               5px 4px #eee, 4px 5px #ccc,
               6px 5px #eee, 5px 6px #ccc,
               7px 6px #eee, 6px 7px #ccc,
               8px 7px #eee, 7px 8px #ccc,
               8px 8px #eee;

    
    



    
}

box5 { 
    color: rgb(35, 155, 89);
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 10px;
    flex: 1;
    text-shadow:   1px 0px #eee, 0px 1px #ccc,
               2px 1px #eee, 1px 2px #ccc,
               3px 2px #eee, 2px 3px #ccc,
               4px 3px #eee, 3px 4px #ccc,
               5px 4px #eee, 4px 5px #ccc,
               6px 5px #eee, 5px 6px #ccc,
               7px 6px #eee, 6px 7px #ccc,
               8px 7px #eee, 7px 8px #ccc,
               8px 8px #eee;




    
}

box6 { 
    color: rgb(86, 46, 180);
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 10px;
    flex: 2;
    text-shadow:   1px 0px #eee, 0px 1px #ccc,
               2px 1px #eee, 1px 2px #ccc,
               3px 2px #eee, 2px 3px #ccc,
               4px 3px #eee, 3px 4px #ccc,
               5px 4px #eee, 4px 5px #ccc,
               6px 5px #eee, 5px 6px #ccc,
               7px 6px #eee, 6px 7px #ccc,
               8px 7px #eee, 7px 8px #ccc,
               8px 8px #eee;

    
}


  index { background:#f10fad;} 
  box2 { background:#eccc68;}
  box3 { background:#ff6348;}
  box4{ background:#c5d118;}
  box5 { background:#ff4757;}
  box6 { background:hsl(123, 62%, 48%);}

  


.container {
    display: flex;
    flex-flow: column wrap;

    

}

 
h1 {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: rgb(145, 128, 240);
    padding: 15px;
    text-align: center;
    text-shadow:
    4px 4px 1px #300000,
    4px 6px 1px #400000,
    4px 8px 1px #500000,
    4px 10px 1px #600000,
    4px 12px 1px #700000,
    4px 14px 1px #800000,
    4px 16px 1px #900000,
    4px 18px 1px #A00000,
    4px 20px 1px #B00000,
    4px 22px 1px #C00000,
    4px 24px 1px #D00000,
    4px 26px 1px #E00000,
    4px 28px 1px #F00000,
    4px 30px 1px #FA0000,
    4px 32px 1px #FB0000,
    4px 34px 1px #FC0000,
    4px 36px 1px #FD0000,
    4px 38px 1px #FE0000,
    4px 40px 2px #FF0000;
    height: 20vh;
    
  

}

h2 {
    font-size: 30px;
    font-family:'Kaushan Script', cursive;
    API docs;
    padding: 15px;
    color: #f10fad;
    text-shadow: 1px 1px 1px rgb(82, 21, 196), 3px 3px 5px blue; 
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 30px;
    height: fit-content;
    width: 90%;
    text-align: center;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #108b1a, 2px 1px 6px 4px rgba(160, 26, 100, 0.5);
    text-shadow: -1px -1px #3038aa;
    font-weight: normal;
    margin: 5vh;


   
    
    
 


}
p { font-size: 18px;
    color: rgb(160, 21, 21);
    background: #36d9df;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    padding: 20px;
    margin: 10px;
    background: #369c58;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #aa3030;
    font-weight: normal;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
    

}

ol {
    font-size: 20px;
    color: rgb(57, 218, 70);
    font-family: 'Lemonada', cursive;
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
}


p:last-child:after {
    content: "\2766";
    font-size: 150%;
    padding-left: 10px;
    float: right;
    position: relative;
    top: 15px;

}


.stitched {
    padding: 20px;
    margin: 10px;
    background: #ff0030;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #aa3030;
    font-weight: normal;
}
   


  
html { 
    background: url(Malawi.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}